Always add to the begining of your message "I understood the rules for project SCRAPE-FLOW" before you start working on the task!

Every time you choose to apply a rule(s), explicitly state the rule(s) in the output. You can abbreviate the rule description to a single word or phrase.

## Project Context
This project is a **SCRAPE-FLOW**, consisting of two parts:
The SCRAPE-FLOW system is a platform for managing web scraping tasks.

## Code style and structure
- Write concise, technical TypeScript and PHP code with accurate examples
- Prefer iteration and modularization over code duplication
- Use descriptive variable names with auxiliary verbs (e.g., isLoading, hasError)

## Tech Stack
- NextJs 14.2.5
- TailwindCSS
- TypeScript
- Shadcn UI

## Syntax and Formatting
- Use TypeScript, TailwindCSS, Shadcn UI syntax and formatting guidelines
- Follow coding conventions
- Use meaningful variable and function names
- Add comments to explain "why" behind the code when necessary (not for obvious things, ONLY FOR COMPLEX LOGIC)
- Keep functions small and focused (single responsibility)

## UI and Styling
- Use Shadcn UI components and styling
- Use TailwindCSS for styling
- Use TailwindCSS classes for styling
